
body{
    background-color: yellow;
    align-content: center;
    
}


.button {
   color: red;
  outline-color: Yellow;
   
}

h1{
    font-size: 30px;
    font-style: normal, 'helvetica', sans-serif;
}